<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Active user</title>
</head>

<body>

    <div style="display: flex;flex-direction: column;justify-content: center;align-items: center;margin-top:4rem;gap: 20px;">
     
        <div>
            Your Account Activated...
        </div>
        <div>
            click Here To <a href="/login">Login</a>
        </div>
        

    </div>

    



</body>

</html>