<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div>

        <div>Registration Link is deactivated !!!</div>
        <div>click Here To create Account Again<a href="/">Register</a></div>
        
    </div>


</body>
</html>