<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>
    a {
        text-decoration: none;
    }

    table {
        max-width: 1200px;
        margin: 0 auto;

    }

    /* .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
} */
    /* .flex-row {
    display: flex;
   
} */
    td {
        border: 1px solid rgb(221, 221, 250);
        
        padding: 20px 90px;
        background-color: rgb(221, 221, 250);
    }

    .log_out_btn {
        width: 120px;
        height: 30px;
        padding: 5px;
        background-color: rgb(191, 206, 250);
        color: black;
        text-align: center;
        cursor: pointer;
        border-radius: 8px;
        margin-top: 2rem;
        margin-left: 90%;
        font-weight: 600;

    }
      

</style>

<body>


    <div>
        <div class="log_out_btn"><a href="/logout">Log Out</a></div>
    </div>

    <h1 style="text-align: center;margin-bottom: 4rem;">welcome to Home Page</h1>

    <table class="main-content">

        <tr class="flex-row">
            <td>Task 1</td>
            <td><a href="/dynamic_table" target="_blank">Dynamic Table</a></td>

        </tr>

        <tr class="flex-row">
            <td>Task 2</td>
            <td><a href="/kuku_kube" target="_blank">kuku_kube</a></td>
        </tr>

        <tr class="flex-row">
            <td>Task 3</td>
            <td><a href="/tic_tac_toe" target="_blank">Tic Tac Toe</a></td>
        </tr>

        <tr class="flex-row">
            <td>Task 4</td>
            <td><a href="/event_table" target="_blank">Event Table</a></td>
        </tr>

        <tr class="flex-row">
            <td>Task 5</td>
            <td><a href="/delimineter_search" target="_blank">Delimineter Search</a></td>
        </tr>


        <tr class="flex-row">
            <td>Task 6</td>
            <td><a href="/getData" target="_blank">Grid view </a></td>
        </tr>


        <tr class="flex-row">
            <td>Task 7</td>
            <td><a href="/fetchData" target="_blank"> Exam Result </a></td>
        </tr>

        <tr class="flex-row">
            <td>Task 8</td>
            <td><a href="/getformdata" target="_blank"> Job Application form</a></td>
        </tr>


        <tr class="flex-row">
            <td>Task 9</td>
            <td><a href="/form" target="_blank"> Multi Step Form</a></td>
        </tr>

        <tr class="flex-row">
            <td>Task 10</td>
            <td><a href="/site_1" target="_blank"> Html template 1</a></td>
        </tr>

        <tr class="flex-row">
            <td>Task 11</td>
            <td><a href="/site_2" target="_blank"> Html template 2</a></td>
        </tr>

        <tr class="flex-row">
            <td>Task 12</td>
            <td><a href="/site_3" target="_blank"> Html template 3</a></td>
        </tr>

        <tr class="flex-row">
            <td>Task 13</td>
            <td><a href="/timezone" target="_blank"> Time Zone Task </a></td>
        </tr>

        <tr class="flex-row">
            <td>Task 14</td>
            <td><a href="/fetch" target="_blank"> AJAX Pagination Task </a></td>
        </tr>











    </table>





</body>

</html>