<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>

a{
    text-decoration: none;
}

table
{
    max-width: 1200px;
    margin: 0 auto;

}

/* .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
} */
/* .flex-row {
    display: flex;
   
} */
td
{
    border: 1px solid black;
    padding: 20px 40px;
    background-color: rgb(221, 221, 250);
}




</style>

<body>
    <h1 style="text-align: center;margin-bottom: 4rem;">welcome to Home Page</h1>

    <table class="main-content">

        <tr class="flex-row"> 
            <td>Task 1</td>
            <td><a href="/dynamic_table">Dynamic Table</a></td>

        </tr>

        <tr class="flex-row">
            <td>Task 2</td>
            <td><a href="/kuku_kube">kuku_kube</a></td>
        </tr>

        <tr class="flex-row">
            <td>Task 3</td>
            <td><a href="/tic_tac_toe">Tic Tac Toe</a></td>
        </tr>

        <tr class="flex-row">
            <td>Task 4</td>
            <td><a href="/event_table">Event Table</a></td>
        </tr>

        <tr class="flex-row">
            <td>Task 5</td>
            <td><a href="/delimineter_search">Delimineter Search</a></td>
        </tr>


        <tr class="flex-row">
            <td>Task 6</td>
            <td><a href="/getData">Grid view </a></td>
        </tr>


        <tr class="flex-row"> 
            <td>Task 7</td>
            <td><a href="/fetchData"> Exam Result </a></td>
        </tr>

        <tr class="flex-row">
            <td>Task 8</td>
            <td><a href="/getformdata"> Job Application form</a></td>
        </tr>


        <tr class="flex-row">
            <td>Task 9</td>
            <td><a href="/form"> Multi Step Form</a></td>
        </tr>





    </table>





</body>

</html>