<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1 style="text-align: center;">welcome to Home Page</h1>



    <div>
         
        <div><a href="/dynamic_table">Dynamic Table</a></div>

    </div>

    <div>
        <div><a href="/kuku_kube">kuku_kube</a></div>
    </div>

    <div>
        <div><a href="/tic_tac_toe">Tic Tac Toe</a></div>
    </div>

    <div>
        <div><a href="/event_table">Event Table</a></div>
    </div>



    
</body>

</html>