<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/main.css">
</head>

<body>


    <div id="form_data">


        <form action="" name="createPassword" method="">

            <h3 style="display: flex;justify-content: center;align-items: center;margin-top:1rem;margin-bottom: 1rem;">
                Create Your Password</h3>
            <div>

                <input type="text" value="<%= email %>" name="email" id="email" hidden>

                <label for="email">Create Password</label>
                <input type="password" name="create_password" id="create_password" placeholder="Enter Password....">
            </div>
            <div>
                <label for="email">Confirm Password</label>
                <input type="password" name="confirm_password" id="confirm_password"
                    placeholder="Enter password again....">
            </div>

            <div id="password_err" style="display:none;">
                password does not match !!!!
            </div>

            <div>
                <div class="submit-btn" onclick="clickHandler()">Create Password </div>
            </div>


            <p id="content"></p>

            <div id="reset_content">


            </div>


        </form>

    </div>

    <script>

        function clickHandler() {
            var reset_content = document.getElementById('reset_content');

            var email = document.getElementById('email').value;
            var created_password = document.getElementById('create_password').value;
            var confirm_password = document.getElementById('confirm_password').value;
            var password_err = document.getElementById('password_err');


            if (created_password !== confirm_password) {
                password_err.style.display = "";
                password_err.style.color = "red";
                return;
            }
            else {
                var content = document.getElementById('content');
                password_err.style.display = "none";

                content.style.color = "green";
                content.innerHTML = "Password Changed";

                var innertext = '';

                innertext = `<div><a href='/login'>Login</a></div>`;

                reset_content.innerHTML = innertext;
            }


            var password_data = {
                email: email,
                created_password: created_password
            }

            console.log(password_data);





            fetch('/forgotpassword', {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(password_data),

            }).then((res) => { console.log(res); })
                .catch((res) => { console.log(res); })






        }


    </script>

</body>

</html>