<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practical - 2</title>
    <link rel="stylesheet" href="/html_site_2/style.css">
</head>

<body>

    <header>

        <nav class="navbar">

            <div class="logo">
                <img src="/html_site_2/assets/logo-white.png" alt="" class="logo-img">
            </div>

            <div class="nav-items">

                <ul class="nav-items-flex">
                    <li><a href="">Hosting</a></li>
                    <li><a href="">Integration</a></li>
                    <li><a href="">Pricing</a></li>
                    <li><a href="">Community</a></li>

                    <li><a href="" class="nav-btn">Login</a></li>

                </ul>


            </div>


        </nav>







    </header>


    <section class="main-section">





        <div class="main-container">

            <div class="main-row">

                <div class="left-col">
                    <p class="txt-lg">Hosting Services for Your Website</p>
                    <p class="txt-p">Easily and reliably host a website for your business organization
                        or project while retaining complete control over your site's
                        underlying infrastucture.
                    </p>

                    <div class="main-btn">

                        <div>
                            <input type="button" class="btn" value="Get Started">
                        </div>
                        <div>
                            <input type="button" class="b-btn" value="Get Migration Help">
                        </div>



                    </div>

                </div>


                <div class="right-col">

                    <img src="/html_site_2/assets/portrait-confident-bearded-man-using-laptop-computer 1.png" alt="">

                </div>


            </div>


        </div>

    </section>


    <section class="company-logo-section">

        <div class="logo-container">

            <div class="row-cmp">


                <div class="col-txt-1">
                    <p>Those Who Have Experienced The Best Performance</p>
                </div>

                <div class="logo-col-2">


                    <div class="col-txt"><img src="/html_site_2/assets/Telkom Indonesia Logo.png" alt="" width="153" height="60">
                    </div>
                    <div class="col-txt"><img src="/html_site_2/assets/Jetstar Airways Logo.png" alt=""></div>
                    <div class="col-txt"><img src="/html_site_2/assets/Nescafe Logo.png" alt=""></div>
                    <div class="col-txt"><img src="/html_site_2/assets/Lenovo Logo.png" alt=""></div>

                </div>




            </div>


        </div>


    </section>


    <section class="info-section-2">


        <div class="info-section-2-container">

            <div class="info-section-2-row">

                <div class="left-info">

                    <img src="/html_site_2/assets/Group 3552.png" alt="">

                </div>

                <div class="right-info">

                    <div class="right-txt">
                        <p class="txt-lg-1">Boost the Speed of your Website</p>
                    </div>

                    <div class="right-col-flex">

                        <div class="col-div">
                            <div>
                                <h4 class="txt-blue">Faster Build Process</h4>
                                <p class="txt-p-1">We can soeed up the process
                                    of creating your website
                                </p>

                            </div>

                        </div>

                        <div class="col-div">
                            <div>
                                <h4 class="txt-blue">Faster Delivery</h4>
                                <p class="txt-p-1">Our purchases and services can be
                                    completed quickly
                                </p>

                            </div>

                        </div>

                        <div class="col-div">
                            <div>
                                <h4 class="txt-blue">Faster Access Speed </h4>
                                <p class="txt-p-1">Superb network infrastucture
                                    and hardware to support Faster
                                    and stable access
                                </p>

                            </div>

                        </div>

                        <div class="col-div">
                            <div>
                                <h4 class="txt-blue">24/7 Fast Service</h4>
                                <p class="txt-p-1">We can soeed up the process
                                    of creating your website
                                </p>

                            </div>

                        </div>


                    </div>




                </div>

            </div>


        </div>

    </section>


    <section class="pricing-section">

        <div class="pricing-container">



            <div class="pricing-heading">
                Host Any Website With Our Fully
                Managed Services
            </div>


            <div class="pricing-row">

                <div class="p-cols">

                    <div class="pr-txt">


                        <div class="card-head">

                            <div class="head-flex">

                                <div class="img-radius"><img src="/html_site_2/assets/cloud-sunny.png" alt="" class="img-1">
                                </div>

                                <h3 class="head-card">cloud Hosting</h3>
                            </div>


                            <p class="para-p-txt">Cloud Hosting is a good fit for
                                those of you who are building personal websites,porfolios,
                                blogs and other systems.

                            </p>

                        </div>

                        <div class="card-price">
                            $5.9<span class="txt-month">/month</span>
                        </div>

                        <div class="price-btn">
                            <input type="button" value="More Detail" class="btn-p">
                        </div>


                    </div>

                </div>


                <div class="p-cols">



                    <div class="pr-txt">


                        <div class="card-head">

                            <div class="head-flex">

                                <div class="img-radius"><img src="/html_site_2/assets/buildings.png" alt="" class="img-1">
                                </div>

                                <h3 class="head-card">Corporate</h3>
                            </div>


                            <p class="para-p-txt">Provide business-related hosting services
                                such as website or management systems
                                for companies

                            </p>

                        </div>

                        <div class="card-price">
                            $19<span class="txt-month">/month</span>
                        </div>

                        <div class="price-btn">
                            <input type="button" value="More Detail" class="btn-p">
                        </div>







                    </div>



                </div>



                <div class="p-cols">



                    <div class="pr-txt">


                        <div class="card-head">

                            <div class="head-flex">

                                <div class="img-radius"><img src="/html_site_2/assets/driver.png" alt="" class="img-1">
                                </div>

                                <h3 class="head-card">Cloud VPS</h3>
                            </div>


                            <p class="para-p-txt">A scalable fully-managed
                                virtual private server we build
                                and optimize specifically for
                                your website
                            </p>

                        </div>

                        <div class="card-price">
                            $29<span class="txt-month">/month</span>
                        </div>

                        <div class="price-btn">
                            <input type="button" value="More Detail" class="btn-p">
                        </div>







                    </div>



                </div>


                <div class="p-cols">



                    <div class="pr-txt">


                        <div class="card-head">

                            <div class="head-flex">

                                <div class="img-radius"><img src="/html_site_2/assets/monitor-mobbile.png" alt="" class="img-1">
                                </div>

                                <h3 class="head-card">Dedicated</h3>
                            </div>


                            <p class="para-p-txt">our mission-critical website require the performance
                                and security od a decidated physical server.


                            </p>

                        </div>

                        <div class="card-price">
                            $9<span class="txt-month">/month</span>
                        </div>

                        <div class="price-btn">
                            <input type="button" value="More Detail" class="btn-p">
                        </div>







                    </div>



                </div>














            </div>

        </div>

    </section>


    <section class="tech-section">


        <div class="container tech-container">

            <div class="tech-row">



                <div class="tech-col-1">


                    <div class="tech-stack">

                        <div class="lan-1 flex-div language" datai-d="1" tabindex="0">
                            <div><img src="/html_site_2/assets/WordPress.com Logo.png" alt="" ></div>
                            <div>WordPress</div>

                        </div> 
                        <div class="lan-2 flex-div language" data-id="2" tabindex="1">
                            <div><img src="/html_site_2/assets/WordPress.com Logo.png" alt=""></div>
                            <div>Magento</div>

                        </div>
                        <div class="lan-3 flex-div language" data-id="3" tabindex="2">
                            <div><img src="/html_site_2/assets/WordPress.com Logo.png" alt=""></div>
                            <div>Laravel</div>

                        </div>
                        <div class="lan-4 flex-div language" data-id="4" tabindex="3">
                            <div><img src="/html_site_2/assets/WordPress.com Logo.png" alt=""></div>
                            <div>PHP</div>

                        </div>

                    </div>


                </div>

                <div class="tech-col-2" id="1">

                    <div>
                        <p class="txt-lg-2">The Best Managed Cloud Hosting For
                            Wordpress
                        </p>
                        <p class="para-txt-2">We live and breathe wordpress Our managed hosting for
                            Wordpress and wooCommerce takes away cloud server related
                            hassles so you can scale your
                            websites the way you want.

                        </p>
                    </div>

                    <div class="tech-procs">

                        <div class="flex-col">
                            <div><img src="/html_site_2/assets/Vector.png" alt=""></div>
                            <div>Unlimited Bandwidth</div>
                        </div>

                        <div class="flex-col">
                            <div ><img src="/html_site_2/assets/Vector.png" alt=""></div>
                            <div>Network Speed </div>
                        </div>
                        <div class="flex-col">
                            <div ><img src="/html_site_2/assets/Vector.png" alt=""></div>
                            <div>turbo Power</div>
                        </div>
                        <div class="flex-col">
                            <div ><img src="/html_site_2/assets/Vector.png" alt=""></div>
                            <div>Xtreme Freedom</div>
                        </div>
                    </div>


                    <div>
                        <input type="button" name="" id="" value="More Detail" class="btn">
                    </div>




                </div>



                <div class="tech-col-2" id="2">

                    <div>
                        <p class="txt-lg-2">The Best Managed Cloud Hosting For
                            Mongento
                        </p>
                        <p class="para-txt-2">We live and breathe wordpress Our managed hosting for
                            Wordpress and wooCommerce takes away cloud server related
                            hassles so you can scale your
                            websites the way you want.

                        </p>
                    </div>

                    <div class="tech-procs">

                        <div class="flex-col">
                            <div><img src="/html_site_2/assets/Vector.png" alt=""></div>
                            <div>Unlimited Bandwidth</div>
                        </div>

                        <div class="flex-col">
                            <div ><img src="/html_site_2/assets/Vector.png" alt=""></div>
                            <div>Network Speed </div>
                        </div>
                        <div class="flex-col">
                            <div ><img src="/html_site_2/assets/Vector.png" alt=""></div>
                            <div>turbo Power</div>
                        </div>
                        <div class="flex-col">
                            <div ><img src="/html_site_2/assets/Vector.png" alt=""></div>
                            <div>Xtreme Freedom</div>
                        </div>
                    </div>


                    <div>
                        <input type="button" name="" id="" value="More Detail" class="btn">
                    </div>




                </div>




                <div class="tech-col-2" id="3">

                    <div>
                        <p class="txt-lg-2">The Best Managed Cloud Hosting For
                            Laravel
                        </p>
                        <p class="para-txt-2">We live and breathe wordpress Our managed hosting for
                            Wordpress and wooCommerce takes away cloud server related
                            hassles so you can scale your
                            websites the way you want.

                        </p>
                    </div>

                    <div class="tech-procs">

                        <div class="flex-col">
                            <div><img src="/html_site_2/assets/Vector.png" alt=""></div>
                            <div>Unlimited Bandwidth</div>
                        </div>

                        <div class="flex-col">
                            <div ><img src="/html_site_2/assets/Vector.png" alt=""></div>
                            <div>Network Speed </div>
                        </div>
                        <div class="flex-col">
                            <div ><img src="/html_site_2/assets/Vector.png" alt=""></div>
                            <div>turbo Power</div>
                        </div>
                        <div class="flex-col">
                            <div ><img src="/html_site_2/assets/Vector.png" alt=""></div>
                            <div>Xtreme Freedom</div>
                        </div>
                    </div>


                    <div>
                        <input type="button" name="" id="" value="More Detail" class="btn">
                    </div>




                </div>



                <div class="tech-col-2" id="4">

                    <div>
                        <p class="txt-lg-2">The Best Managed Cloud Hosting For
                             PHP
                        </p>
                        <p class="para-txt-2">We live and breathe wordpress Our managed hosting for
                            Wordpress and wooCommerce takes away cloud server related
                            hassles so you can scale your
                            websites the way you want.

                        </p>
                    </div>

                    <div class="tech-procs">

                        <div class="flex-col">
                            <div><img src="/html_site_2/assets/Vector.png" alt=""></div>
                            <div>Unlimited Bandwidth</div>
                        </div>

                        <div class="flex-col">
                            <div ><img src="/html_site_2/assets/Vector.png" alt=""></div>
                            <div>Network Speed </div>
                        </div>
                        <div class="flex-col">
                            <div ><img src="/html_site_2/assets/Vector.png" alt=""></div>
                            <div>turbo Power</div>
                        </div>
                        <div class="flex-col">
                            <div ><img src="/html_site_2/assets/Vector.png" alt=""></div>
                            <div>Xtreme Freedom</div>
                        </div>
                    </div>


                    <div>
                        <input type="button" name="" id="" value="More Detail" class="btn">
                    </div>




                </div>

            </div>

        </div>


    </section>

    <section class="review-section">

        <div class="container review-container">


            <div class="review-head">

                <div class="txt-lg-2 txt-h1">How Our Customers Feel About Us</div>

                <div class="slider-btn">

                    <div class="backward-btn slider-button" id="prev-btn">
                        <img src="/html_site_2/assets/arrow-down.png" alt="" class="arrow-btn">
                    </div>

                    <div class="forward-btn slider-button" id="next-btn">
                        <img src="/html_site_2/assets/arrow-right.png" alt="" class="arrow-btn">
                    </div>

                </div>

            </div>



               

                <div class="review-cards">

                    <div class="card-r">

                        <div class="profile-pic">
                            <img src="assets/profile.png" alt="">
                        </div>
                        <div class="review">
                            <div><img src="/html_site_2/assets/Star 2.png" alt=""></div>
                            <div><img src="/html_site_2/assets/Star 2.png" alt=""></div>
                            <div><img src="/html_site_2/assets/Star 2.png" alt=""></div>
                            <div><img src="/html_site_2/assets/Star 2.png" alt=""></div>
                            <div><img src="/html_site_2/assets/Star 2.png" alt=""></div>

                        </div>

                        <div class="txt-des">
                            <p>Thanks to the Awan Hoster,I was
                                Guided step-by-step until it was finished
                            </p>
                        </div>

                        <div class="txt-cmp-detail">
                            <div class="cmp-name">
                                <h4 class="cmp-txt">Guy Hawkins</h4>
                                <p class="p-txt">Manager</p>
                            </div>

                        </div>


                    </div>





                    <!-- card 2-->

                    <div class="card-r">

                        <div class="profile-pic">
                            <img src="/html_site_2/assets/profile.png" alt="">
                        </div>
                        <div class="review">
                            <div><img src="/html_site_2/assets/Star 2.png" alt=""></div>
                            <div><img src="/html_site_2/assets/Star 2.png" alt=""></div>
                            <div><img src="/html_site_2/assets/Star 2.png" alt=""></div>
                            <div><img src="/html_site_2/assets/Star 2.png" alt=""></div>
                            <div><img src="/html_site_2/assets/Star 2.png" alt=""></div>

                        </div>

                        <div class="txt-des">
                            <p>Thanks to the Awan Hoster,I was
                                Guided step-by-step until it was finished
                            </p>
                        </div>

                        <div class="txt-cmp-detail">
                            <div class="cmp-name">
                                <h4 class="cmp-txt">Guy Hawkins</h4>
                                <p class="p-txt">Manager</p>
                            </div>

                        </div>


                    </div>


                    <!-- card -3 -->

                    <div class="card-r">

                        <div class="profile-pic">
                            <img src="/html_site_2/assets/profile.png" alt="">
                        </div>
                        <div class="review">
                            <div><img src="/html_site_2/assets/Star 2.png" alt=""></div>
                            <div><img src="/html_site_2/assets/Star 2.png" alt=""></div>
                            <div><img src="/html_site_2/assets/Star 2.png" alt=""></div>
                            <div><img src="/html_site_2/assets/Star 2.png" alt=""></div>
                            <div><img src="/html_site_2/assets/Star 2.png" alt=""></div>

                        </div>

                        <div class="txt-des">
                            <p>Thanks to the Awan Hoster,I was
                                Guided step-by-step until it was finished
                            </p>
                        </div>

                        <div class="txt-cmp-detail">
                            <div class="cmp-name">
                                <h4 class="cmp-txt">Guy Hawkins</h4>
                                <p class="p-txt">Manager</p>
                            </div>

                        </div>


                    </div>


                    <!--

                            card-4

                        -->
                    <div class="card-r">

                        <div class="profile-pic">
                            <img src="/html_site_2/assets/profile.png" alt="">
                        </div>
                        <div class="review">
                            <div><img src="/html_site_2/assets/Star 2.png" alt=""></div>
                            <div><img src="/html_site_2/assets/Star 2.png" alt=""></div>
                            <div><img src="/html_site_2/assets/Star 2.png" alt=""></div>
                            <div><img src="/html_site_2/assets/Star 2.png" alt=""></div>
                            <div><img src="/html_site_2/assets/Star 2.png" alt=""></div>

                        </div>

                        <div class="txt-des">
                            <p>Thanks to the Awan Hoster,I was
                                Guided step-by-step until it was finished
                            </p>
                        </div>

                        <div class="txt-cmp-detail">
                            <div class="cmp-name">
                                <h4 class="cmp-txt">Guy Hawkins</h4>
                                <p class="p-txt">Manager</p>
                            </div>

                        </div>


                    </div>


                    <div class="card-r">

                        <div class="profile-pic">
                            <img src="/html_site_2/assets/profile.png" alt="">
                        </div>
                        <div class="review">
                            <div><img src="/html_site_2/assets/Star 2.png" alt=""></div>
                            <div><img src="/html_site_2/assets/Star 2.png" alt=""></div>
                            <div><img src="/html_site_2/assets/Star 2.png" alt=""></div>
                            <div><img src="/html_site_2/assets/Star 2.png" alt=""></div>
                            <div><img src="/html_site_2/assets/Star 2.png" alt=""></div>

                        </div>

                        <div class="txt-des">
                            <p>Thanks to the Awan Hoster,I was
                                Guided step-by-step until it was finished
                            </p>
                        </div>

                        <div class="txt-cmp-detail">
                            <div class="cmp-name">
                                <h4 class="cmp-txt">Guy Hawkins</h4>
                                <p class="p-txt">Manager</p>
                            </div>

                        </div>


                    </div>




                </div>






            

        </div>

    </section>


    <section class="trial-section">

        <div class="trial-container container">

            <div class="trial-row">

                <div class="trial-col-txt">

                    <div class="trial-txt">

                        <div class="trial-head txt-lg-4">Try It Now and stop Doubting
                            Anything Else
                        </div>
                        <p>With Awan Hoster's Money Back Gurantee, you can try the
                            best service reliability
                        </p>

                        <div class="trial-btn">

                            <div>
                                <input type="button" value="Start Free Trial" class="btn-trial-1">
                            </div>

                            <div class="second-btn">
                                <input type="button" value="See All Plans" class="btn-trial-2">
                            </div>


                        </div>

                    </div>

                </div>

                <div class="trial-col-img">


                    <div class="trial-img">
                        <img src="/html_site_2/assets/Group 1000008788.png" alt="">

                    </div>


                </div>


            </div>



        </div>


    </section>


    <footer>

        <div class="footer-container container">


            <div class="footer-row">

                <div class="footer-col-1">

                    <div class="col-1-txt">

                        <div>
                            <img src="/html_site_2/assets/logo-white.png" alt="">

                        </div>
                        <div>
                            <p class="footer-p-txt">We Provide you eith the best hosting solutions
                                for your website.
                            </p>
                        </div>

                        <div class="icons">
                            <div><img src="/html_site_2/icons8-google.svg" alt="" width="30" height="30"></div>
                            <div><img src="/html_site_2/icons8-instagram.svg" alt="" width="30" height="30"></div>
                            <div><img src="/html_site_2/icons8-twitter.svg" alt="" width="30" height="30"></div>
                            <div><img src="/html_site_2/icons8-youtube.svg" alt="" width="30" height="30"></div>
                            <div><img src="/html_site_2/icons8-linked-in.svg" alt="" width="30" height="30"></div>
                        </div>



                    </div>



                </div>

                <div class="footer-col-2">


                    <div class="col-2-txt">

                        <h3>Company</h3>

                        <div class="list">
                            <p>About</p>
                            <p>Blog</p>
                            <p>leaderShip</p>
                            <p>careers</p>
                            <p>Legal</p>


                        </div>

                    </div>

                </div>
                <div class="footer-col-3">

                    <div class="col-3-txt">
                        <h3>Products</h3>

                        <div class="list">
                            <p>API</p>
                            <p>Pricing</p>
                            <p>Documentation</p>
                            <p>Release Notes</p>



                        </div>

                    </div>

                </div>

                <div class="footer-col-4">

                    <div class="col-4-txt">

                        <h3>Contact</h3>

                        <div class="list">
                            <p>Support</p>
                            <p>Sales</p>
                            <p>Report Abuse</p>
                            <p>System Status</p>


                        </div>

                    </div>

                </div>


            </div>




        </div>



    </footer>








    <script src="/html_site_2/index.js"></script>
</body>

</html>