<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>project-3</title>
    <link rel="stylesheet" href="/html_site_3/styl.css">
</head>

<body>


    <header>

        <nav class="navbar container flex">

            <div class="logo">
                <img src="/html_site_3/assets/HireX_black.png" alt="" class="logo-img">
            </div>

            <div class="nav-items">

                <ul class="nav-items-flex flex gap">
                    <li><a href="#">Works</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Blogs</a></li>
                    <li><a href="#">FAQs</a></li>
                    <li><a href="#">Contanct us</a></li>



                    <li><a href="#" class="nav-btn">We're Hiring <img src="/html_site_3/assets/arrow-right.svg" alt=""></a></li>


                </ul>


            </div>


        </nav>


    </header>


    <section class="hero-section">

        <div class="hero-container container">


            <div class="hero-section-row row flex">


                <div class="left-col col-2">

                    <div class="txt-div">

                        <div class="sub-head flex">
                            <p>WELCOME TO HIREX.</p>
                            <img src="/html_site_3/assets/Star 1.png" alt="">

                        </div>

                        <div class="main-heading">
                            <p>Award Winning Digital Agency.</p>

                        </div>

                        <p class="txt-sub">Digital Agency offering
                            unique solutions to create digital presence
                            and increase your sales.
                        </p>

                        <div class="input-field flex">
                            <input type="text" placeholder="Your Email Address" class="email-txt">
                            <button class="email-btn">Request access</button>
                        </div>

                        <div class="main-btn">
                            <input type="button" value="Open account and get 5 boxes" class="hero-btn">
                        </div>

                    </div>

                </div>


                <div class="right-col col-2">


                    <div class="right-content">

                        <div class="img-1">

                            <div class="circle-div">
                                <img src="/html_site_3/assets/image 2 (Traced).png" alt="" class="div-img-1">
                                <div class="txt-1">Web Design</div>
                            </div>

                        </div>
                        <div class="img-2">

                            <div class="half-circle-div">
                                <img src="/html_site_3/assets/image 6 (Traced).png" alt="" class="div-img-2">
                                <div class="txt-2">Social Media</div>
                            </div>

                        </div>
                        <div class="img-3">

                            <div class="squre-div">
                                <img src="/html_site_3/assets/image 1 (Traced).png" alt="" class="div-img-3">
                                <div class="txt-3">UIX Design</div>
                            </div>

                        </div>

                    </div>



                </div>





            </div>








        </div>





    </section>

    <section class="section-2">


        <div class="scroll">

            <div class="section-2-div m-scroll">



                <div class="div-1">

                    <p class="txt-bold">GET ACCESS NOW!</p>
                    <img src="/html_site_3/assets/image-fBLQvAFN1-transformed 1.png" alt="">
                    <img src="/html_site_3/assets/Line 4.png" alt="" class="img-rotate">
                </div>

                <div class="div-1">

                    <p class="txt-bold">GET ACCESS NOW!</p>
                    <img src="/html_site_3/assets/image-fBLQvAFN1-transformed 1.png" alt="">
                    <img src="/html_site_3/assets/Line 4.png" alt="" class="img-rotate">
                </div>

                <div class="div-1">

                    <p class="txt-bold">GET ACCESS NOW!</p>
                    <img src="/html_site_3/assets/image-fBLQvAFN1-transformed 1.png" alt="">
                    <img src="/html_site_3/assets/Line 4.png" alt="" class="img-rotate">
                </div>


                <div class="div-1">

                    <p class="txt-bold">GET ACCESS NOW!</p>
                    <img src="/html_site_3/assets/image-fBLQvAFN1-transformed 1.png" alt="">
                    <img src="/html_site_3/assets/Line 4.png" alt="" class="img-rotate">
                </div>

                <div class="div-1">

                    <p class="txt-bold">GET ACCESS NOW!</p>
                    <img src="/html_site_3/assets/image-fBLQvAFN1-transformed 1.png" alt="">
                    <img src="/html_site_3/assets/Line 4.png" alt="" class="img-rotate">
                </div>

                <div class="div-1">

                    <p class="txt-bold">GET ACCESS NOW!</p>
                    <img src="/html_site_3/assets/image-fBLQvAFN1-transformed 1.png" alt="">
                    <img src="/html_site_3/assets/Line 4.png" alt="" class="img-rotate">
                </div>

            </div>





        </div>
        </div>



    </section>


    <section class="card-section">

        <div class="card-container container">


            <div class="card-header">

                <button class="head-btn">Services</button>
                <p class="txt-lg">How Hirex. Work</p>
                <p class="txt-half">The Awesome People who makes all this possible</p>



            </div>


            <div class="card-row row">


                <div class="card-col col-3">



                    <div class="card">

                        <div class="txt-sm">START HERE</div>
                        <p class="txt-l">Who we are & what we do</p>
                        <div><img src="/html_site_3/assets/Designer _Flatline 1.png" alt=""></div>
                        <div><button class="card-btn-g">START HERE <img src="/html_site_3/assets/arrow-right.svg" alt=""></button>
                        </div>

                    </div>


                </div>






                <div class="card-col col-3">

                    <div class="card">


                        <div class="txt-sm">CUSTOM DESIGN</div>
                        <p class="txt-l">We'll design your projects</p>
                        <div><img src="/html_site_3/assets/Notifications_Flatline 1.png" alt="" class="img-card-2"></div>
                        <div><button class="card-btn-y">START HERE <img src="/html_site_3/assets/arrow-right-black.svg"
                                    alt=""></button>
                        </div>





                    </div>
                </div>



                <div class="card-col col-3">


                    <div class="card">
                        <p class="txt-sm">CONTACT US</p>
                        <div class="txt-l">Drop us your message</div>
                        <div><img src="/html_site_3/assets/Fortnite_Two Color 1.png" alt="" class="img-card-3"></div>
                        <div><button class="card-btn-o">START HERE <img src="/html_site_3/assets/arrow-right-black.svg"
                                    alt=""></button></div>


                    </div>




                </div>




            </div>




        </div>

    </section>


    <section class="work-section">


        <div class="work-container">


            <div class="card-header">

                <button class="head-btn-b">Works</button>
                <p class="txt-lg">Find our latetest works</p>
                <p class="txt-half">The Awesome People who makes all this possible</p>



            </div>


            <div class="work-row row">


                <div class="work-col-1 col-2">

                    <div class="img-rec-1">
                        <img src="/html_site_3/assets/Rectangle 13.png" alt="">

                    </div>

                    <div>
                        <button class="work-btn-1">
                            web design
                        </button>
                    </div>


                    <div class="work-div-txt">

                        <div class="work-txt-lg">Website Design For Digital Agency</div>
                        <p>Build a unique website with Hirex Template</p>
                        <div class="txt-underline">
                            <p>Read More </p><img src="/html_site_3/assets/arrow-right-black.svg" alt="">
                        </div>


                    </div>




                </div>

                <div class="work-col-2 col-2">


                    <div class="img-rec-2">
                        <img src="/html_site_3/assets/Rectangle 13-1.png" alt="">

                    </div>


                    <div>
                        <button class="work-btn-1">
                            3D design
                        </button>
                    </div>


                    <div class="work-div-txt">

                        <div class="work-txt-lg">Realistic 3d Model of Living Room </div>
                        <p>Build a unique website with Hirex Template</p>
                        <div class="txt-underline">
                            <p>Read More </p><img src="/html_site_3/assets/arrow-right-black.svg" alt="">
                        </div>


                    </div>



                    <div class="abs-btn"> <button class="card-btn-y">VIEW ALL
                            <img src="/html_site_3/assets/arrow-right-black.svg" alt="">
                        </button>
                    </div>





                </div>





            </div>




        </div>


    </section>


    <section class="plan-section">


        <div class="plan-container container">

            <div class="card-header">


                <p class="txt-lg">Plans & Pricing</p>
                <p class="txt-half">The Awesome People who makes all this possible</p>



            </div>

            <div class="plan-row row">


                <div class="plan-col-1 col-3">

                    <div class="plan-card center">


                        <div class="plan-txt">
                            FREE
                        </div>

                        <div class="plan-price">
                            <p><span class="price">$0</span> /MONTH</p>
                        </div>

                        <div>
                            <p class="txt">Start free while you learn more about our
                                services
                            </p>
                        </div>

                        <div class="hr-line">

                        </div>

                        <div class="div-check-points">
                            <div class="point">
                                <img src="/html_site_3/assets/icons8-right-2.svg" alt="" width="20" height="20">
                                <p>Free Forever get the basic essentials</p>
                            </div>
                            <div class="point">
                                <img src="/html_site_3/assets/icons8-right-2.svg" alt="" width="20" height="20">
                                <p>Advaced security and performance</p>
                            </div>
                            <div class="point">
                                <img src="/html_site_3/assets/icons8-right-2.svg" alt="" width="20" height="20">
                                <p>Unlimited unhosted sites</p>
                            </div>
                            <div class="point">
                                <img src="/html_site_3/assets/icons8-right-2.svg" alt="" width="20" height="20">
                                <p>Live support</p>
                            </div>


                        </div>


                        <div>
                            <div class="price-btn">
                                GET STARTED
                            </div>

                        </div>




                    </div>


                </div>




                <div class="plan-col-2 col-3">

                    <div class="plan-card center">


                        <div class="plan-txt">
                            FREE
                        </div>

                        <div class="plan-price">
                            <p><span class="price">$19</span> /MONTH</p>
                        </div>

                        <div>
                            <p class="txt">Start free while you learn more about our
                                services
                            </p>
                        </div>

                        <div class="hr-line">

                        </div>

                        <div class="div-check-points">
                            <div class="point">
                                <img src="/html_site_3/assets/icons8-right-2.svg" alt="" width="20" height="20">
                                <p>Free Forever get the basic essentials</p>
                            </div>
                            <div class="point">
                                <img src="/html_site_3/assets/icons8-right-2.svg" alt="" width="20" height="20">
                                <p>Advaced security and performance</p>
                            </div>
                            <div class="point">
                                <img src="/html_site_3/assets/icons8-right-2.svg" alt="" width="20" height="20">
                                <p>Unlimited unhosted sites</p>
                            </div>
                            <div class="point">
                                <img src="/html_site_3/assets/icons8-right-2.svg" alt="" width="20" height="20">
                                <p>Live support</p>
                            </div>


                        </div>


                        <div>
                            <div class="price-btn-orange">
                                GET STARTED
                            </div>

                        </div>





                    </div>


                </div>

                <div class="plan-col-3 col-3">

                    <div class="plan-card center">



                        <div class="plan-txt">
                            FREE
                        </div>

                        <div class="plan-price">
                            <p><span class="price">$99</span> /MONTH</p>
                        </div>

                        <div>
                            <p class="txt">Start free while you learn more about our
                                services
                            </p>
                        </div>

                        <div class="hr-line">

                        </div>

                        <div class="div-check-points">
                            <div class="point">
                                <img src="/html_site_3/assets/icons8-right-2.svg" alt="" width="20" height="20">
                                <p>Free Forever get the basic essentials</p>
                            </div>
                            <div class="point">
                                <img src="/html_site_3/assets/icons8-right-2.svg" alt="" width="20" height="20">
                                <p>Advaced security and performance</p>
                            </div>
                            <div class="point">
                                <img src="/html_site_3/assets/icons8-right-2.svg" alt="" width="20" height="20">
                                <p>Unlimited unhosted sites</p>
                            </div>
                            <div class="point">
                                <img src="/html_site_3/assets/icons8-right-2.svg" alt="" width="20" height="20">
                                <p>Live support</p>
                            </div>


                        </div>


                        <div>
                            <div class="price-btn-green">
                                GET STARTED
                            </div>

                        </div>





                    </div>


                </div>


            </div>







        </div>




    </section>


    <section class="slider-section">




        <div class="slider-container container">

            <div class="prev-btn arrow" id="arrow-left">
                <img src="/html_site_3/assets/arrow-left-2.png" alt="" height="20" width="60">

            </div>


            <div class="next-btn arrow" id="arrow-right">
                <img src="/html_site_3/assets/arrow-right-2.png" alt="" height="20" width="60">
            </div>





            <div class="row-slide row slide slide1">



                <div class="col-2">

                    <div>
                        <img src="/html_site_3/assets/testimonials-img.png" alt="" class="left-part">
                        <div class="slider-btn">

                            <div class="btn-s">
                                <p>@mase.place</p>
                                <div class="circle">
                                    <img src="/html_site_3/assets/arrow_top-right.png" alt="" class="abs-arrow">
                                </div>

                            </div>

                        </div>
                    </div>

                </div>


                <div class="right-part col-2">


                    <div>
                        <p class="slider-txt-1">

                            review - 1
                        </p>


                    </div>
                    <div>
                        <p class="slider-txt-2">Abel Carden is a TikTok personality
                            and lip-sync content creator who has built a
                            fanbase of more than 3.2 million followers on
                            the platform.
                        </p>
                    </div>









                </div>





            </div>



            <div class="row-slide row slide slide2">


                <div class="col-2">

                    <div>

                        <img src="/html_site_3/assets/Designer _Flatline 1.png" alt="" class="left-part">
                        <div class="slider-btn">

                            <div class="btn-s">
                                <p>@mase.place</p>
                                <div class="circle">
                                    <img src="/html_site_3/assets/arrow_top-right.png" alt="" class="abs-arrow">
                                </div>

                            </div>

                        </div>
                    </div>

                </div>


                <div class="right-part col-2">


                    <div>
                        <p class="slider-txt-1">

                            review - 2
                        </p>


                    </div>
                    <div>
                        <p class="slider-txt-2">Abel Carden is a TikTok personality
                            and lip-sync content creator who has built a
                            fanbase of more than 3.2 million followers on
                            the platform.
                        </p>
                    </div>



                </div>





            </div>








            <!-- 

                <div class="slider-row">


                    <div class="f-col slide slide1">

                        <div class="slider-col col-2">

                            <div>
                                <img src="assets/testimonials-img.png" alt="" class="left-part">
                                <div class="slider-btn">

                                    <div class="btn-s">
                                        <p>@mase.place</p>
                                        <div class="circle">
                                            <img src="assets/arrow_top-right.png" alt="">
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>


                        <div class="right-part col-2">

                            <div>
                                <div>
                                    <p class="slider-txt-1">

                                        "We select to pratice in Minerva since it is both
                                        useful, and our clients basically adore it! It has stood
                                        the test of time and proceeds"
                                    </p>


                                </div>
                                <div>
                                    <p class="slider-txt-2">Abel Carden is a TikTok personality
                                        and lip-sync content creator who has built a
                                        fanbase of more than 3.2 million followers on
                                        the platform.
                                    </p>
                                </div>

                            </div>







                        </div>







                    </div> -->
            <!-- 
                <div class="slider-col slide slide2">

                    <div>
                        <img src="assets/testimonials-img.png" alt="" class="left-part">
                    </div>

                    <div class="right-part">
                        <div>
                            <div>
                                <p class="slider-txt-1">

                                    slide -2

                                </p>


                            </div>
                            <div>
                                <p class="slider-txt-2">Abel Carden is a TikTok personality
                                    and lip-sync content creator who has built a
                                    fanbase of more than 3.2 million followers on
                                    the platform.
                                </p>
                            </div>

                        </div>


                    </div>


                    <div class="slider-btn">

                        <div class="btn-s">
                            <p>@mase.place</p>
                            <div class="circle">
                                <img src="assets/arrow_top-right.png" alt="">
                            </div>

                        </div>

                    </div>




                </div>


                <div class="slider-col slide slide3">

                    <div>
                        <img src="assets/testimonials-img.png" alt="" class="left-part">
                    </div>

                    <div class="right-part">
                        <div>
                            <div>
                                <p class="slider-txt-1">
                                    slide -3

                                </p>


                            </div>
                            <div>
                                <p class="slider-txt-2">Abel Carden is a TikTok personality
                                    and lip-sync content creator who has built a
                                    fanbase of more than 3.2 million followers on
                                    the platform.
                                </p>
                            </div>

                        </div>


                    </div>


                    <div class="slider-btn">

                        <div class="btn-s">
                            <p>@mase.place</p>
                            <div class="circle">
                                <img src="assets/arrow_top-right.png" alt="">
                            </div>

                        </div>

                    </div>




                </div> -->










            <!-- <div class="next-btn arrow" id="arrow-right">
                <img src="assets/arrow-right-2.png" alt="">
            </div> -->

        </div>



    </section>


    <section class="update-section">


        <div class="update-container container">



            <div class="update-header">

                <button class="update-btn">Blog</button>

                <div>
                    <p class="txt-lg left">Stay Updated</p>
                </div>

            </div>


            <div class="update-row row">


                <div class="update-col-1 col-2">

                    <div class="l-img">
                        <img src="/html_site_3/assets/Rectangle 19.png" alt="">
                    </div>

                    <div>
                        <button class="work-btn-1">
                            web design
                        </button>
                    </div>


                    <div class="work-div-txt">

                        <div class="work-txt-lg">We Launch Minerva Template this Week!</div>
                        <p>Build a unique website with Hirex Template</p>
                        <div class="txt-underline">
                            <p>Read More </p><img src="/html_site_3/assets/arrow-right-black.svg" alt="">
                        </div>


                    </div>



                </div>


                <div class="update-col-2 col-2">

                    <div class="r-img">
                        <img src="/html_site_3/assets/Rectangle 20.png" alt="">
                    </div>

                    <div>
                        <button class="work-btn-1">
                            web design
                        </button>
                    </div>


                    <div class="work-div-txt">

                        <div class="work-txt-lg">Introducing the Non-Code Webflow Guide</div>
                        <p>Build a unique website with Hirex Template</p>
                        <div class="txt-underline">
                            <p>Read More </p><img src="/html_site_3/assets/arrow-right-black.svg" alt="">
                        </div>


                    </div>



                </div>



            </div>

        </div>

    </section>

    <section class="subscribe-section">

        <div class="subscribe-container container">

            <div class="subscribe-header">
                <p class="txt-lg left">Get our latests news & updates</p>
            </div>

            <div class="subscribe-row row">

                <div class="s-col-1 col-60">


                    <div>
                        <input type="text" class="input-1" placeholder="NAME">
                    </div>
                    <div>
                        <input type="text" class="input-2" placeholder="EMAIL">
                    </div>
                    <div class="submit-div">
                        <input type="text" class="input-3" placeholder="SUBSCRIBE">
                        <img src="/html_site_3/assets/arrow-right-black.svg" alt="">
                    </div>




                </div>

                <div class="s-col-2 col-40">


                    <div>
                        <p>We select to practice in Minerva since
                            it is both useful and commonsense, and
                            our clients basically adore it</p>
                    </div>

                    <div>
                        <button class="subscribe-btn">Book a Call</button>
                    </div>

                </div>

            </div>

        </div>

    </section>


    <section class="ad-section">


        <div class="scroll">

            <div class="section-2-div m-scroll">



                <div class="div-1">

                    <p class="txt-bold">THNAK YOU FOR YOUR VISIT</p>

                    <img src="/html_site_3/assets/Line 4.png" alt="" class="ad-img">
                </div>

                <div class="div-1">

                    <p class="txt-bold">THNAK YOU FOR YOUR VISIT</p>

                    <img src="/html_site_3/assets/Group 59.png" alt="" class="ad-img">
                </div>

                <div class="div-1">

                    <p class="txt-bold">THNAK YOU FOR YOUR VISIT</p>

                    <img src="/html_site_3/assets/Line 4.png" alt="" class="ad-img">
                </div>

                <div class="div-1">

                    <p class="txt-bold">THNAK YOU FOR YOUR VISIT</p>

                    <img src="/html_site_3/assets/Group 59.png" alt="" class="ad-img">
                </div>


                <div class="div-1">

                    <p class="txt-bold">THNAK YOU FOR YOUR VISIT</p>

                    <img src="/html_site_3/assets/Line 4.png" alt="" class="ad-img">
                </div>

                <div class="div-1">

                    <p class="txt-bold">THNAK YOU FOR YOUR VISIT</p>

                    <img src="/html_site_3/assets/Group 59.png" alt="" class="ad-img">
                </div>







            </div>



        </div>



    </section>


    <footer>

        <div class="footer-container container">

            <div class="footer-header">

                <img src="/html_site_3/assets/HireX_black.png" alt="">
                <div class="hr_underline"></div>

            </div>

            <div class="footer-row row">

                <div class="footer-col-1 col-4 flex-col">
                    <div class="h-footer">
                        <div><a href="">Products</a></div>
                    </div>

                    <div class="txt-footer"> <a href="">Platform</a></div>
                    <div class="txt-footer"> <a href="">Store Overview</a></div>
                    <div class="txt-footer"> <a href="">Email Reports</a></div>
                    <div class="txt-footer"> <a href="">Portfolio</a></div>




                </div>
                <div class="footer-col-2 col-4 flex-col">

                    <div>
                        <div class="h-footer"><a href="">Resources</a></div>
                    </div>

                    <div class="txt-footer"> <a href="">Case Studies</a></div>
                    <div class="txt-footer"> <a href="">Product Guides</a></div>
                    <div class="txt-footer"> <a href="">Reports</a></div>
                    <div class="txt-footer"> <a href="">Blog</a></div>
                    <div class="txt-footer"> <a href="">FAQ</a></div>


                </div>
                <div class="footer-col-3 col-4 flex-col">


                    <div>
                        <div class="h-footer"><a href="">Company</a></div>
                    </div>

                    <div class="txt-footer"> <a href=""> Careers</a></div>
                    <div class="txt-footer"> <a href=""> Contact Sales</a></div>
                    <div class="txt-footer"> <a href="">Contact Support</a></div>





                </div>
                <div class="footer-col-4 col-4 flex-col">

                    <div>
                        <div class="h-footer"><a href="">partners</a></div>
                    </div>

                    <div class="txt-footer"> <a href="">Partner With Us</a></div>





                </div>




            </div>

            <div class="footer-copy-right">

                <div class="f-row">
                    <div class="footer-copy-right-col">
                        <div> <a href="">Terms and Conditions</a></div>
                        <div> <a href="">Privacy Policy</a></div>
                    </div>

                    <div>
                        <div>©HIREX, Inc. 2022</div>
                    </div>

                </div>

            </div>

        </div>


    </footer>

    <script src="/html_site_3/index.js"></script>
</body>

</html>