<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
    <!-- 
    <label for="list">Choose List Order</label>
    
        <!-- <a href="/getData/page=<%=current_page %>&order=asc"> <select name="list" id="list">
            <option value="asc">Asc</option>
        </select></a>  -->

    <!-- <a href="/getData/page=<%=current_page %>&order=desc"><option value="desc"></option></a>
    -->
   

<script>
 
// var ascBtn = document.getElementById('ascBtn');
// var descBtn = document.getElementById('descBtn');












// console.log(selectedItem);


// ascBtn.addEventListener('click',function(event){
//      location = `/getData?page=1`;
//      console.log(location);

//      console.log(event.target.value);
// });










  



</script>

</body>



</html>