<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Javascript task 2</title>

  <style>
    body {
      background-color: rgb(235, 115, 115);
      color: white;
    }

    #table_div {
      margin-top: 3rem;
    }


    table {
      border: 1px solid white;
      border-radius: 5px;
      margin: 0 auto;
      background-color: white;

    }

    tr {
      background-color: white;
      border-radius: 10px;

    }



    td {
      width: 50px;
      height: 50px;
      border-radius: 3px;
      background-color: rgb(95, 95, 224);

    }



    #td_1 {

      background-color: blue;
    }

    #random_id {
      opacity: 0.6 !important;
    }


    #temp {
      opacity: 0.6 !important;
    }

    .pause_btn {
      background-color: orange;
      padding: 6px 6px;
      cursor: pointer;
      border-radius: 4px;
    }


    #timer {
      background-color: rgb(183, 177, 177);
      border-radius: 5px;
      padding: 4px 4px;

    }
  </style>

</head>


<body>


  <div>

    <h2 style="text-align: center;">Darshkumar Godhani | 24DEV056 | 02/02/2024 </h2>

  </div>


  <div style="display: flex;justify-content: space-between;">

    <h3>Score : <span id="score">0</span></h3>
    <h3>Timer :<span id="timer"></span></h3>
    <h3 class="pause_btn" id="pause_button">Pause</h3>
    <h3 class="pause_btn" id=""><a href="/kuku_kube/" style="text-decoration: none;">Restart Game</a></h3>


  </div>

  <div id="table_div">



    <table id="table_info">

      <tr>

        <td id="random_id"></td>
        <td></td>
      </tr>


      <tr>

        <td></td>
        <td></td>
      </tr>

    </table>

  </div>


  <script src="/kuku_kube/index.js"></script>

</body>

</html>